fastapi==0.115.2
uvicorn==0.30.6
python-multipart==0.0.9
pydantic==2.9.2
pydantic-settings==2.6.0
SQLAlchemy==2.0.36
passlib[bcrypt]==1.7.4
python-jose==3.3.0
alembic==1.13.2

psycopg2-binary==2.9.9

razorpay==1.4.2
